*{
    padding: 0;
    margin: 0;
}

.menu{
    background-color: #718387;
    padding: 10px;
}

.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    background-color: blueviolet;
}

.cabecalho{
    background-color: #98336c;
    background: linear-gradient(90deg, rgba(72, 98, 136, 0.808) 0%, rgba(152, 51, 108, 0.815) 100%), url(fundo.jpg);
    text-align: center;
}

.titulo{
    color: #FFFFFF;
    padding-bottom: 30px;
}

.foto{
    text-align: center;
    margin-top: 100px;
    border: 2px solid #486288;
    border-radius: 50%;
}

.redes > a > img{
    padding: 20px;
}

