*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

::selection{
    background-color: blueviolet;
    color: #FFFFFF;
}

.menu{
    background-color: #718387;
    padding: 10px;
}

.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    background-color: blueviolet;
}

.cabecalho{
    background-color: #98336c;
    background: linear-gradient(90deg, rgba(72, 98, 136, 0.808) 0%, rgba(152, 51, 108, 0.815) 100%), url(../images/fundo.jpg);
    text-align: center;
}

.titulo{
    color: #FFFFFF;
    padding-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

.foto{
    text-align: center;
    margin-top: 100px;
    border: 2px solid #486288;
    border-radius: 50%;
}

.redes > a > img{
    padding: 20px;
}

.subtitulo{
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.texto{
    padding: 10px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

.fotos{
    border: solid #98336c 1px;
    margin-left: 10px;
}

.rodape{
    padding: 20px;
    padding-bottom: 40px;
    margin-top: 20px;
    text-align: center;
    background-color: #718387;
    color: #FFFFFF;

}